.contain-icone-voltar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
.logout:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.logout:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
  
.logout:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ff8b8b;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.logout:hover {
    color: #ffffff;
    border: 1px solid #ff8b8b;
}

.logout:hover:before {
    top: -35%;
    background-color: #ff8b8b;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.logout:hover:after {
    top: -45%;
    background-color: #ff5454;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
  

.card-alterar-info {
    margin: 15px auto;
    background-color: #62a4ff3a;
}

.group {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    max-width: 300px;
    margin: 10px auto;
}

.input {
    width: 100%;
    height: 45px;
    line-height: 30px;
    padding: 0 5rem;
    padding-left: 3rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
}

.input::placeholder {
    color: #94a3b8;
}

.input:focus, input:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-100%);
    fill: none;
    width: 1rem;
    height: 1rem;
}

.btn-acao {
    max-width: 200px;
    padding: 0.8rem;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.salvar {
    width: 100%;
    background-color: #3b82f6;
}

.salvar:hover {
    background-color: #4f46e5;
}

.deletar {
    background-color: rgb(231, 0, 0);
}

.deletar:hover {
    box-shadow: 0 0 0 0;
    background-color: rgb(175, 0, 0);
}

.dark-mode .icon {
    color: black;
}

.logout {
    background-color: #4f46e5;
    box-shadow: none;
    color: #fff;
}

.logout:active {
    box-shadow: none;
}

.logout:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}