@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --html-bg: #FFF1E9;
    --css-bg: #E0FDEF;
    --js-bg: #EBF0FF;
    --acessibilidade-bg:#F6E7FF;
    --texto-color: #313E51;
    --texto-color-p: #949eaf;
    --bg-botao: #3B4D66;
    --roxo: #A729F5;
    --option-bg: #F4F6FA;
    --correct-color: #26D782;
    --invalido-cor: #EE5454;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Rubik", Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: var(--texto-color);
}

main {
    background-image: url(/assets/img/pattern-background-desktop-dark.svg);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*============ CABEÇALHO ============*/
.menu-nav {
    display: flex;
    justify-content: space-around;
    color: #fff;
    height: 50px;
    align-items: center;
    font-size: 20px;
    background: rgb(59,77,102);
    background: linear-gradient(90deg, #3b4d66 30%, #949eaf 90%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.lista-opcoes {
    display: flex;
    gap: 30px;
}

.opcao-lista a {
    color: #fff;
}


/*============ TEXTO BEM-VINDO ============*/
.contain-painel-inicial {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.contain-txt-bem-vindo {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.txt-bem-vindo {
    font-size: 60px;
    color: #fff;
    font-weight: 100;
}

.txt-front-quiz {
    font-weight: bold;
}

.txt-escolher {
    color: #949eaf;
    font-weight: 400;
    font-style: italic;
}

/*============ ESCOLHER TEMA ============*/
.contain-temas {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

button:hover {
    cursor: pointer;
}

.opcao-tema {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: var(--bg-botao);
    color: var(--texto-color);
    width: 500px;
    height: 80px;
    border: none;
    border-radius: .75rem;
    padding: .75rem;
}

.opcao-tema span {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
}

.contain-botao-icone {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cotain-img-html {
    background-color: var(--html-bg);
}

.cotain-img-css {
    background-color: var(--css-bg);
}

.cotain-img-js {
    background-color: var(--js-bg);
}

.cotain-img-acessibilidade {
    background-color: var(--acessibilidade-bg);
}